/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/


/* Aplicando las fuentes al body */
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #fbfbfb;
    line-height: 1.2;
    max-width: 1200px;
    min-height: 100vh;
    padding: auto;
    margin: auto;
   
}

/* Agregandole los estilos al header */

header {
    background-color: #4d4d4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    position: relative;
    border: none;
    border-radius: 10px 10px 0 0;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1920px;
    margin: auto;

    
}

/* Agragando estilos a los botones de navegacion */
.links-de-navegacion {
    list-style: none;
}

.links-de-navegacion  li {
    display: inline-block;
    padding: 0px 3.5px;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    border-radius: 5px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: #fff;
}

.links-de-navegacion  li:hover {
    color: #000;
    box-shadow: inset 200px 0 0 0 rgb(255, 254, 255);
}

.nav_links {
    list-style: none;
}

/* Posicion de la foto */
.foto {
    width: 350px;
    border-radius: 50%;
}

#foto {
    display: flex;
    justify-content: center;
    padding: 20px 0;
 
}

/* Margenes del main */
main {
    padding-top: 100px;
    max-width: 1200px;
    margin: auto;


}

/* Scciones del main */
.seccion-1 {
    min-height: 100vh;
    margin: 0 10px;
    padding: 20px;

}

.presentacion {
    text-align: center;
    padding: 20px 0;
}

.presentacion h1 {
    font-size: 36px;
    padding-bottom: 20px;
}
/* Boton del CV */
.boton {
    display: flex;
    justify-content: center;
}

#descargarCV {
    background-color: #4d4d4d;
    color: #fbfbfb;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgba(175, 89, 158, 0.1);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#descargarCV:hover {
    background-color: rgba(175, 89, 158, 0.3);
    color: #fbfbfb;
    box-shadow: inset 200px 0 0 0 #d80c0c;
}

/* Seccion de contatos */
.contactos {
    background-color: #4d4d4d;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.contactos h2 {
    font-size: 28px;
    padding: 20px;
}

.links ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.links li {
    display: inline-block;
    padding: 20px;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    transition: .5s;
}

.links li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 400px;
    background: transparent;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.links li:hover::before {
    transform: scale(0.9);
    box-shadow: 0 0 15px #d11010;
}

.links li:hover {
    color: #d11010;
    text-shadow: 0 0 5px #af5959;
    border-radius: 400px;
}

/* Estilo del formulario */
.formulario h2 {
    text-align: center;}

#formulario {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #000;
    padding: 20px;
    text-align: left;
    
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    #formulario {
      width: 60%;
    }
  }

/* Estilo del footer */
.footer {
    font-size: 18px;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    border-radius: 10px;
    position: static;
    bottom: 0;
    left: 0;
}
  
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
  
.footer-content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

  
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
  
.footer-menu li:last-child {
    margin-right: 0;
}
  
.footer-menu a {
    color: #fff;
    text-decoration: none;
}
  
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.social-icons li {
    display: inline-block;
    margin-right: 10px;
}
  
.social-icons li:last-child {
    margin-right: 0;
}
  
.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
  
.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
  
.footer-bottom p {
    margin: 0;
}
  
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .footer-menu{
        text-align: left;
    }
    .footer-menu li {
      display: block;
      margin-bottom: 10px;
    }
}
  
.attribute{
    position: absolute;
    bottom: 10px;
}


/* Boton de volver arriba */
.boton-arriba a{
    display: inline-block;
    padding: 0px 3.5px;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 rgba(175, 89, 158, 0.1);
    border-radius: 5px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

.boton-arriba a:hover{
    color: #fbfbfb;
    box-shadow: inset 200px 0 0 0 rgba(0, 0, 0, 0.7);
}

.boton-arriba a:hover::before {
    transform: scale(0.9);
    box-shadow: 0 0 15px #af599e;
}
/* hasta aqui por ahora! */